@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: #000;
    color: var(--text-color);
    height: 100vh;
    cursor: url('../imgs/pointer.png'), auto;
    scrollbar-color: var(--accent-color) pink;
    scrollbar-width: thin;
}

html,
body {
    overflow-y: scroll;
    scrollbar-width: none !important;
    /* Firefox */
}
/* Loader do Lefty, que ocorre enquanto os dados da API ainda estiverem sendo carregados */
#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111; /* escuro estilo FNAF */
    color: #ffcc00;
    font-family: "Arial Black", sans-serif;
    text-align: center;
}

#loader-gif {
    width: 150px;
    margin-bottom: 20px;
}

#loader-bar {
    width: 300px;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Barra interna de progresso */
#loader-progress {
    height: 100%;
    width: 10%;
    background-color: #ffcc00;
    border-radius: 10px;
    transition: width 0.2s ease; /* <- faltava o “s” de segundos */
}

/* Animação de pulsar se o load demorar */
@keyframes pulseProgress {
  0% { width: 85%; background-color: #ffcc00; }
  50% { width: 95%; background-color: #ffe066; }
  100% { width: 85%; background-color: #ffcc00; }
}

.loader-pulse {
  animation: pulseProgress 1.5s infinite ease-in-out;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity: 1; }
  20%, 24%, 55% { opacity: 0.6; }
}

#loader {
  animation: flicker 4s infinite;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/*Ícone de música do canto superior direito*/
.music-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    transition: background 0.3s;
    z-index: 1000;
    cursor: url('../imgs/cursor.png'), auto;
}

/* Carrousel, usado tanto pelas imagens quanto pelos audios do modal dos animatronics*/
.carousel {
    overflow-y: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 280px;
    }

    .sidebar.collapsed {
        transform: translateX(-280px);
    }

    .main-content {
        margin-left: 0;
    }

    .hero-title {
        font-size: 48px;
    }

    .game-header {
        flex-direction: column;
        text-align: center;
    }

    .characters-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .modal-header {
        flex-direction: column;
        text-align: center;
    }
}