:root {
    --rosa: #fddddd;
    --verde-menta: #B0E0D6;
    --marrom: #A07f68;
    --branco: #FFFFFF;
    --cinza: #CCCCCC;
    --bege: #FCF8E1;
    --preto: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: var(--rosa);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lustria', sans-serif;
    color: var(--marrom);
}

/* 1. Menu ---------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--verde-menta);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.logo img {
    height: 60px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: var(--marrom);
}

header h1 {
    color: var(--marrom);
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--marrom);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--rosa);
}

.bi-list {
    display: none;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* 2. Hero ---------------------------------------------*/

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    background-image: url('imagens/fundo-hero.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 100px;
    font-size: 24px;
    color: var(--marrom);
    width: 100%;
}

.hero h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--marrom);
}

.hero h1 {
    font-size: 56px;
    color: var(--marrom);
}

.hero-items {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    padding-right: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}

.hero-img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
}

.hero-img img {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 350px;
    width: 250px;
}

.hero-img img:hover {
    transform: translateY(-5px);
}

.caes {
    width: 200px;
}

.btn-hero {
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    font-size: 42px;
    font-weight: bold;
    color: var(--preto);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(270deg,
            var(--rosa),
            var(--verde-menta),
            var(--bege),
            var(--marrom));
    background-size: 400% 400%;
    animation: ondaGradient 6s ease infinite;
    transition: transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    height: auto;
}

.btn-hero:hover {
    transform: scale(1.05);
}

@keyframes ondaGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* 3. Evento ---------------------------------------------*/

.evento {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--verde-menta);
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: left;
    background-image: url('imagens/fundo-evento.png');
    background-size: cover;
    background-position: center;
}

.sobre-evento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 35px;
    text-align: center;
}

.evento p {
    max-width: 600px;
    margin: 20px auto;
    color: var(--branco);
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.evento-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.evento-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    width: 180px;
    margin: 20px;
}

.evento-image img {
    width: 155px;
    height: 190px;
    display: block;
}

.evento-image p {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.detalhes {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    font-size: 24px;
    width: 100%;
    color: var(--marrom);
    font-weight: bold;
}

.detalhes h2 {
    font-size: 52px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.detalhes-participacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
    align-items: flex-start;
    font-size: 24px;
    width: 100%;
    color: var(--marrom);
    font-weight: bold;
}

.checklist-fofo {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0;
    transform: translateY(30px);
    animation: aparecerSuave 0.8s ease-out forwards;
}

.checklist-fofo li {
    display: flex;
    align-items: center;
    background-color: var(--bege);
    border: 2px solid var(--marrom);
    border-radius: 25px;
    padding: 10px 18px;
    font-weight: bold;
    color: var(--preto);
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

.checklist-fofo li:hover {
    transform: scale(1.03);
    background-color: var(--rosa);
    cursor: default;
}

.check-icon {
    display: inline-block;
    color: var(--verde-menta);
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px;
    background-color: var(--marrom);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Animação inicial */
@keyframes aparecerSuave {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.checklist-fofo {
    animation-play-state: paused;
}

.evento-gatinho img {
    width: 200px;
}

/* 4. catcafe -----------------------------------------------------------*/

.catcafe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 40px;
    text-align: center;
    background-image: url(./imagens/fundo-catcafe.png);
    background-size: cover;
    background-position: center;
    text-align: left;
}

.catcafe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.text-content {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.text-content h1 {
    font-size: 2.5rem;
    color: #8B4513;
    margin-bottom: 25px;
    line-height: 1.2;
}

.text-content p {
    font-size: 1.2rem;
    color: #5D4037;
}

.catcafe-img {
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.catcafe-img img {
    width: auto;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding-left: 0px;
}

.catcafe-img img:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}



/* 5. Quem somos e estatísticas ---------------------------------------------*/

.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 32px;
    text-align: center;
    background-color: var(--bege);
    color: var(--marrom);
    text-align: left;
}

.quem-somos h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--verde-menta);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
}

.quem-somos p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 25px 0;
    gap: 10px;
}

.stats img {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.stat {
    background: var(--marrom);
    color: var(--branco);
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.stat.visible {
    opacity: 1;
    transform: translateY(0);
}

.stat .number {
    font-size: 4rem;
    margin-bottom: 10px;
    display: block;
    font-family: 'Montserrat', serif;
}

.stat span {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* 6. Depoimentos ---------------------------------------------------------------*/

.depoimentos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 320px 1fr;
    gap: 48px;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.section-titulo {
    font-size: 2.5rem;
    color: var(--marrom);
    margin: 0;
    text-align: center;
    position: relative;
    line-height: 1.05;
}

.section-titulo::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100px;
    height: 4px;
    background-color: var(--marrom);
}

.carrossel-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.carrossel-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--bege);
    width: 100%;
    max-width: 800px;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
}

.img-depoimentos {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-depoimentos img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 5px solid var(--verde-menta)
}

.texto-depoimento {
    flex: 1;
    padding: 0 40px;
    text-align: left;
}

.texto-depoimento blockquote {
    font-size: 1.0rem;
    color: var(--marrom);
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

.texto-depoimento blockquote::before {
    content: "";
    font-size: 4rem;
    color: var(--verde-menta);
    position: absolute;
    left: -15px;
    top: -20px;
    opacity: 0.3;
}

.familia {
    font-weight: 600;
    color: var(--preto);
    font-size: 1.1rem;
}

.controles-externos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    box-sizing: border-box;
}

.carrossel-controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-carrossel {
    background-color: var(--marrom);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.btn-carrossel:hover {
    background-color: var(--bege);
    transform: scale(1.1);
}

.indicadores {
    display: flex;
    gap: 10px;
}

.indicador {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bege);
    cursor: pointer;
    transition: all 0.3s ease;
}

.indicador.ativo {
    background-color: var(--marrom);
    transform: scale(1.2);
}

/* 7. Modal ---------------------------------------------------------------*/

body.modal-open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay.active {
    display: flex;
}

.modal {
    background: var(--rosa);
    padding: 20px 30px;
    border-radius: 24px;
    width: 390;
    height: 560px;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    color: var(--marrom);
}

.modal-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.modal img {
    margin-right: 10px;
    height: 82px;
    width: auto;
}

.modal h3 {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.modal p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--marrom);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--marrom);
    border-radius: 6px;
    font-size: 16px;
    color: var(--marrom);
}

input[type="submit"] {
    background-color: var(--branco);
    color: var(--marrom);
    cursor: pointer;
    width: 50%;
    padding: 10px;
    border: 2px solid var(--marrom);
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--marrom);
    color: var(--branco);
}


/* 8. Rodapé ---------------------------------------------------------------*/

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: var(--bege);
    color: var(--marrom);
    padding: 20px;
    text-align: center;
}

.rodape-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.rodape-logo img {
    height: 82px;
    width: auto;
    margin-bottom: 30px;
}

.rodape-logo p {
    margin-top: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.rodape-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.espacamento {
    margin: 0 20px;
    background-color: var(--verde-menta);
    height: 200px;
    width: 5px;
    margin-left: 200px;
    margin-right: 25px;
}

.rodape-content-items {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.rodape-content-items a {
    text-decoration: none;
    color: var(--marrom);
    font-size: 16px;
    margin-bottom: 10px;
}

.rodape-content-items p {
    text-align: justify;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.rodape-content-items a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-top: 10px;
    color: var(--marrom);
    padding: 50px 0;
}

/* 7. Responsividade ---------------------------------------------------------*/

@media screen and (max-width: 1300px) {

    .hero-text {
        padding-left: 52px;
        padding-right: 48px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-items {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        padding: 20px;
    }

    .hero-img img {
        height: 250px;
        width: 200px;
    }

    .evento {
        padding-left: 50px;
        padding-right: 35px;
    }

    .evento-text h2 {
        font-size: 2rem;
    }

    .evento-text p {
        margin-right: 24px;
    }

    .evento-images {
        gap: 20px;
    }

    .detalhes h2 {
        margin-left: 0px;
    }

    .detalhes-participacao {
        padding-left: 0px;
        padding-right: 35px;
    }

    .catcafe {
        padding: 0px
    }

    .text-content {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0px 50px;
    }

    .catcafe-container {
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }

    .catcafe-img {
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
    }

    .catcafe-img img {
        height: 210px;
        width: 280px;
    }

    .quem-somos {
        justify-content: space-between;
    }

    .quem-somos p {
        margin-bottom: 12px;
    }

    .stat {
        padding: 12px 24px;
    }

    .espacamento {
        margin-left: 75px;
    }
}

@media screen and (max-width: 856px) {

    header {
        flex-direction: column;
        padding: 0px 0px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 5% 5%;

    }

    .bi-list {
        color: var(--marrom);
        display: block;
        font-size: 2rem;
    }

    nav {
        display: none;
    }

    nav.active {
        display: flex;
        width: 100%;
    }

    nav ul {
        margin-top: 32px;
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    nav ul li {
        padding: 10px 0;
        border-bottom: 1px solid var(--marrom);
        width: 100%;
        text-align: left;
    }

    .hero-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-text h2 {
        font-size: 1.5rem;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-img img {
        height: 250px;
        width: 200px;
    }

    .detalhes {
        justify-content: center;
    }

    .evento-images {
        display: none;
    }

    .detalhes h2 {
        font-size: 2rem;
    }

    .checklist-fofo li {
        font-size: 1rem;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 1rem;
    }

    .catcafe-img img {
        width: 200px;
        height: 150px;
    }

    .quem-somos h2 {
        font-size: 2rem;
    }

    .quem-somos p {
        font-size: 1rem;
        text-align: justify;
    }

    .stat.visible .number {
        font-size: 3rem;
        padding-bottom: 0px;
    }

    .stat span {
        font-size: 1rem;
    }

    .stats img {
        display: none;
    }

    .section-titulo {
        font-size: 1.5rem;
    }

    .slide {
        padding: 20px;
        flex-direction: column;
    }

    .img-depoimentos img {
        height: 200px;
        width: 200px;
    }

    .texto-depoimento blockquote {
        font-size: 1rem;
    }

    .rodape {
        justify-content: space-between;
    }

    .rodape-content {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex: 1;
        justify-content: space-around;
    }

    .espacamento {
        display: none;
    }

    .rodape-content-items {
        margin: 0px;
        padding: 0px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        padding: 0px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 500px) {

    .hero-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-text h2 {
        font-size: 1.25rem;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-img img {
        height: 200px;
        width: 150px;
    }

    .btn-hero {
        font-size: 1.5rem;
        padding: 32px 20px;
    }

    .sobre-evento {
        flex-direction: column;
    }

    .evento p {
        font-size: 1rem;
        margin-left: 25px;
        margin-right: 25px;
    }

    .evento-images {
        gap: 10px;
        justify-content: center;
    }

    .evento-image {
        width: 120px;
        margin: 20px;
    }

    #luiz {
        display: none;
    }

    .evento-image img {
        width: 75px;
        height: 100px;
    }

    .evento-image p {
        font-size: 12px;
        color: #333;
        margin-top: 10px;
        text-align: center;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        width: 100%;
        color: var(--marrom);
        font-weight: bold;
        padding: 0 20px;
    }

    .detalhes h2 {
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 20px;
        margin-left: 0px;
    }

    .detalhes-participacao {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
        width: 100%;
        padding: 0px 20px;
        color: var(--marrom);
        font-weight: bold;
    }

    .checklist-fofo {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        opacity: 0;
        transform: translateY(30px);
        animation: aparecerSuave 0.8s ease-out forwards;
    }

    .checklist-fofo li {
        display: flex;
        align-items: center;
        background-color: var(--bege);
        border: 2px solid var(--marrom);
        border-radius: 25px;
        padding: 10px 18px;
        font-weight: bold;
        color: var(--preto);
        font-size: 1em;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, background-color 0.3s;
    }

    .evento-gatinho {
        display: none;
    }

    .catcafe-container {
        padding: 0px;
    }

    .catcafe-container .text-content h1 {
        font-size: 1.5rem;
    }

    .catcafe-container .text-content p {
        text-align: justify;
    }

    .img-2 {
        display: none;
    }

    .catcafe img {
        height: auto;
        width: 100%;
    }

    .img-1 {
        height: auto;
        width: 100%;
    }

    .rodape {
        height: 100vh;
    }
}