:root {
    --rosa: #fddddd;
    --verde-menta: #B0E0D6;
    --marrom: #A07f68;
    --branco: #FFFFFF;
    --cinza: #CCCCCC;
    --bege: #FCF8E1;
    --preto: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: var(--rosa);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lustria', sans-serif;
    color: var(--marrom);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--verde-menta);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.logo img {
    height: 60px;
}

header h1 {
    color: var(--marrom);
    font-size: 36px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--marrom);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--rosa);
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* 1. Hero ---------------------------------------------*/

.hero {
    padding-top: 100px;
    background-image: url('imagens/fundo-hero.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-img{
  display: flex; 
  flex-direction: column; 
  align-items: flex-end; 
  gap: 10px; 
}
.hero-img img {
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

.hero-img img:hover {
    transform: translateY(-5px);
}

.caes{
    width: 200px;
}

.btn-hero{
    background:var(--marrom);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.btn-hero:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.btn-hero:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


/* 2. Evento ---------------------------------------------*/

.evento {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--verde-menta);
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: left;
    background-image: url('imagens/fundo-evento.png');
    background-size: cover;
    background-position: center;
}

.sobre-evento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 25px;
    text-align: center;
}

.evento h2 {
    font-size: 48px;
    color: var(--marrom);
    margin-bottom: 20px;
    text-align: left;
}

.evento p {
    max-width: 600px;
    margin: 20px auto;
    color: var(--branco);
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.evento-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.evento-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    width: 180px;
    margin: 20px;
}

.evento-image img {
    width: 155px;
    height: 190px;
    display: block;
}

.evento-image p {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 24px;
    width: 100%;
    color: var(--marrom);
    font-weight: bold;
}

.detalhes h3 {
    margin-left: 87px;
    margin-bottom: 20px;
}

.detalhes-participacao {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 100%;
    max-height: max-content;
    font-size: 24px;
    color: var(--marrom);
    font-weight: normal;
}

.passos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding: 12px 10px;
    text-align: center;
}

.passo {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    background-color: var(--bege);
    border: 6px solid var(--marrom);
    box-shadow: 5px 5px 0 var(--marrom);
    transition: transform 0.3s, box-shadow 0.3s;
}

.passo:hover {
    transform: translate(-5px, -5px);
    box-shadow: 17px 17px 0 var(--preto);
}

.passo h3 {
    margin-top: 10px;
    font-size: 15px;
    color: var(--marrom);
    text-align: left;
    margin-left: 15px;
    text-transform: uppercase;
    transform: translateX(0);
}

.passo p {
    font-size: 12px;
    color: var(--marrom);
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-top: 0;
}

.passo a {
    color: var(--preto);
}

.passo a:hover {
    color: var(--marrom);
    text-decoration: underline;
    cursor: pointer;
}

/* 3. catcafe -----------------------------------------------------------*/

.catcafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 80px;
    text-align: center;
    background-image: url(./imagens/fundo-catcafe.png);
    background-size: cover;
    background-position: center;
    text-align: left;
}
.catcafe-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    }

.text-content {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    width: 60%;
    position: relative;
    z-index: 2;
}

.text-content h1 {
    font-size: 2.5rem;
    color: #8B4513;
    margin-bottom: 25px;
    line-height: 1.2;
}

.text-content p {
    font-size: 1.2rem;
    color: #5D4037;
}

.catcafe-img {
    position: absolute;
    right: 0;
    top: 80%;
    transform: translateY(-50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 1;
}

.catcafe-img img {
    width: 50%;           
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.catcafe-img img:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.img-1 {
    margin-left: 150px;
}

.img-2 {    
    margin-left: 150px;
}



/* 3. Quem somos e estatísticas ---------------------------------------------*/

.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 80px;
    text-align: center;
    background-color: var(--bege);
    color: var(--marrom);
    text-align: left;
}

.quem-somos h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--verde-menta);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.quem-somos p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    gap: 10px;
}

.stats img {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.stat {
    background: var(--verde-menta);
    color: var(--branco);
    padding: 50px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.stat.visible {
    opacity: 1;
    transform: translateY(0);
}

.stat .number {
    font-size: 3rem;
    margin-bottom: 10px;
    display: block;
    font-family: 'Montserrat', serif;
}

.stat span {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* 4. Modal ---------------------------------------------------------------*/

body.modal-open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay.active {
    display: flex;
}

.modal {
    background: var(--rosa);
    padding: 20px 30px;
    border-radius: 24px;
    width: 390;
    height: 560px;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    color: var(--marrom);
}

.modal-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.modal img {
    margin-right: 10px;
    height: 82px;
    width: auto;
}

.modal h3 {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.modal p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--marrom);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--marrom);
    border-radius: 6px;
    font-size: 16px;
    color: var(--marrom);
}

input[type="submit"] {
    background-color: var(--branco);
    color: var(--marrom);
    cursor: pointer;
    width: 50%;
    padding: 10px;
    border: 2px solid var(--marrom);
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--marrom);
    color: var(--branco);
}

/* 5. Depoimentos ---------------------------------------------------------------*/
.depoimentos {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 320px 1fr; 
    gap: 48px; 
    align-items: center; 
    padding: 40px 20px;
    box-sizing: border-box;
}

.section-titulo {
    font-size: 2.5rem;
    color: var(--marrom);
    margin: 0;                 
    text-align: left;        
    position: relative;
    line-height: 1.05;
}

.section-titulo::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;                 
    width:100px;
    height: 4px;
    background-color: var(--marrom);
}


.carrossel-area {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    box-sizing: border-box;
}


.carrossel-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--bege);
    width: 100%;
    max-width: 800px;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide { 
    min-width: 100%; 
    display: flex; 
    align-items: center; 
    padding: 40px; 
}

.img-depoimentos { 
    flex: 1; 
    display: flex; 
    justify-content: center; 
} 

.img-depoimentos img { 
    width: 250px; 
    height: 250px; 
    border-radius: 5%; 
    object-fit: cover; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    border: 5px solid var(--verde-menta) 
}

.texto-depoimento { 
    flex: 1; 
    padding: 0 40px; 
    text-align: left; 
} 
.texto-depoimento blockquote { 
    font-size: 1.0rem; 
    color: var(--marrom); 
    margin-bottom: 20px; 
    position: relative; 
    padding-left: 30px; 
} 
.texto-depoimento blockquote::before { 
    content: ""; 
    font-size: 4rem; 
    color: var(--verde-menta); 
    position: absolute; 
    left: -15px; 
    top: -20px; 
    opacity: 0.3; 
} 

.familia { 
    font-weight: 600; 
    color: var(--preto); 
    font-size: 1.1rem; 
}

.controles-externos {
    width: 100%;
    display: flex;
    justify-content: center;  
    margin-top: 22px;         
    box-sizing: border-box;
}

.carrossel-controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-carrossel {
    background-color: var(--marrom);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.btn-carrossel:hover {
    background-color: var(--bege);
    transform: scale(1.1);
}

.indicadores {
    display: flex;
    gap: 10px;
}

.indicador {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bege);
    cursor: pointer;
    transition: all 0.3s ease;
}

.indicador.ativo {
    background-color: var(--marrom);
    transform: scale(1.2);
}



/* 6. Rodapé ---------------------------------------------------------------*/

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: var(--bege);
    color: var(--marrom);
    padding: 20px;
    text-align: center;
}

.rodape-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.rodape-logo img {
    height: 82px;
    width: auto;
    margin-bottom: 30px;
}

.rodape-logo p {
    margin-top: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.rodape-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.espacamento {
    margin: 0 20px;
    background-color: var(--verde-menta);
    height: 200px;
    width: 5px;
    margin-left: 200px;
    margin-right: 25px;
}

.rodape-content-items {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.rodape-content-items a {
    text-decoration: none;
    color: var(--marrom);
    font-size: 16px;
    margin-bottom: 10px;
}

.rodape-content-items p {
    text-align: justify;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.rodape-content-items a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-top: 10px;
    color: var(--marrom);
    padding: 50px 0;
}